/* line 1, ../sass/login.scss */
* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: 'japanFont';
  font-style: normal;
  src: local("japanFont"), url("./../font/NotoSerifJP-Regular.otf") format("woff2"); }
/* line 12, ../sass/login.scss */
body {
  font-family: "japanFont" !important;
  color: #222;
  background: #fff; }

/* line 18, ../sass/login.scss */
.login-form {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-top: 50px; }
  /* line 24, ../sass/login.scss */
  .login-form .title {
    font-size: 24px;
    text-align: center;
    font-weight: bold; }
  /* line 29, ../sass/login.scss */
  .login-form .form {
    margin-top: 30px;
    background-color: #D0CECE; }
    /* line 32, ../sass/login.scss */
    .login-form .form .form-input {
      display: flex;
      flex-direction: column;
      padding: 15px 0px;
      justify-content: center;
      align-items: center; }
      /* line 38, ../sass/login.scss */
      .login-form .form .form-input .p-title {
        color: #4472C4;
        border: 1px solid #4472C4;
        border-radius: 10px;
        padding: 16px 10px;
        background: #D8E2F3; }
      /* line 45, ../sass/login.scss */
      .login-form .form .form-input input {
        width: calc(100% - 17%);
        margin-top: 10px;
        padding: 20px 15px;
        font-size: 16px;
        border-radius: 10px;
        border: none;
        outline: none; }
      /* line 54, ../sass/login.scss */
      .login-form .form .form-input button {
        margin-top: 10px;
        border-radius: 7px;
        background-color: #4472C4;
        width: calc(100% - 50%);
        border: none;
        cursor: pointer; }
        /* line 61, ../sass/login.scss */
        .login-form .form .form-input button p {
          font-size: 16px;
          padding: 9px 20px;
          color: #ffffff; }
        /* line 66, ../sass/login.scss */
        .login-form .form .form-input button :hover {
          background-color: #124387;
          border-radius: 7px; }
      /* line 71, ../sass/login.scss */
      .login-form .form .form-input p.error {
        display: none; }
